development:
  adapter: postgresql
  database: tms_development
  username:
  password:
  host: localhost

test:
  adapter: postgresql
  database: tms_test
  username:
  password:
  host: localhost

production:
  adapter: postgresql
  database: tms_production
  username:
  password:
  host: localhost
