#account-settings {
  margin: auto;

  .form-actions {
    clear: both;
    text-align: right;
    margin-right: 15px;
  }

  .account-info{
    dt{
      width: 80px;
    }
    dd{
      margin-left: 100px;
    }
  }
}
