.course-index {

  .home-title{
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
  }

  .index-title{
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  .table-action{
    .btn {
      color: black;
    }
    padding: 0;
  }

}
